
body {
  margin: 0px;
  padding: 0px;
}

.lista {
  list-style: none;
  color: #4a4a4a;
  /* display: flex; */
  /* justify-content: center; */
  padding-left: 0px;
  text-align:center;
}

.adalab-imagen {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.item {
  /* flex-direction: row; */
  color: #4a4a4a;
  padding-left: 0px;
  text-decoration: none;
  display: inline-block;
}

/* .blog {
  text-align: center;
} */

.fondo {
  width: 100%;
  height: 100px;
  background-color: #3CDBC0;
}

.blog {
  margin-right: 20px;
}
